* {
  user-select: none;
}
body {
  font-family: '微软雅黑';
  font-weight: bold;
  height: 3000px;
}
section {
  height: 3000px;
  background-image: url(./images/wall/02.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 1rem;
  transition: background-image 1s;
}
section .hidden_block {
  display: none;
}
